In [ ]:
!rm * -rf

In [ ]:
!unzip data.zip

Archive:  data.zip
   creating: data/
   creating: data/ABSYZ/
  inflating: data/ABSYZ/1.xlsx
  inflating: data/ABSYZ/2.xlsx
  inflating: data/ABSYZ/3.xlsx
  inflating: data/ABSYZ/4.xlsx
   creating: data/Affisis/
  inflating: data/Affisis/1.xlsx
   creating: data/Codoid Innovations/
  inflating: data/Codoid Innovations/1.xlsx
  inflating: data/Codoid Innovations/2.xlsx
  inflating: data/Codoid Innovations/3.xlsx
   creating: data/MorganStanley/
  inflating: data/MorganStanley/1.xlsx
  inflating: data/MorganStanley/2.xlsx
  inflating: data/MorganStanley/3.xlsx
  inflating: data/MorganStanley/4.xlsx
  inflating: data/MorganStanley/5.xlsx
  inflating: data/MorganStanley/6.xlsx
   creating: data/RSA/
  inflating: data/RSA/1.xlsx
  inflating: data/RSA/2.xlsx
  inflating: data/RSA/3.xlsx
  inflating: data/RSA/4.xlsx
   creating: data/Silicon labs/
  inflating: data/Silicon labs/1.xlsx
  inflating: data/Silicon labs/2.xlsx
   creating: data/Silicon labs internship/
  inflating: data/Silicon labs internship/1.xlsx
  inflating: data/Silicon labs internship/2.xlsx
  inflating: data/Silicon labs internship/3.xlsx
  inflating: data/Silicon labs internship/4.xlsx
   creating: data/WallMart/
  inflating: data/WallMart/1.xlsx
  inflating: data/WallMart/2.xlsx
  inflating: data/WallMart/3.xlsx
  inflating: data/WallMart/4.xlsx
   creating: data/WallMartSummerInternship/
  inflating: data/WallMartSummerInternship/1.xlsx

In [103]:
from glob import glob
import numpy as np
import pandas as pd
import re
import pickle

In [104]:
directories = sorted(glob("data/*"))

In [105]:
for directory in directories:
  subdirs = sorted(glob(directory+"/*"))
  print(directory)
  for subdir in subdirs:
    print("\t"+subdir)

data/ABSYZ
	data/ABSYZ/1.xlsx
	data/ABSYZ/2.xlsx
	data/ABSYZ/3.xlsx
	data/ABSYZ/4.xlsx
data/Affisis
	data/Affisis/1.xlsx
data/Codoid Innovations
	data/Codoid Innovations/1.xlsx
	data/Codoid Innovations/2.xlsx
	data/Codoid Innovations/3.xlsx
data/MorganStanley
	data/MorganStanley/1.xlsx
	data/MorganStanley/2.xlsx
	data/MorganStanley/3.xlsx
	data/MorganStanley/4.xlsx
	data/MorganStanley/5.xlsx
	data/MorganStanley/6.xlsx
data/RSA
	data/RSA/1.xlsx
	data/RSA/2.xlsx
	data/RSA/3.xlsx
	data/RSA/4.xlsx
data/Silicon labs
	data/Silicon labs/1.xlsx
	data/Silicon labs/2.xlsx
data/Silicon labs internship
	data/Silicon labs internship/1.xlsx
	data/Silicon labs internship/2.xlsx
	data/Silicon labs internship/3.xlsx
	data/Silicon labs internship/4.xlsx
data/WallMart
	data/WallMart/1.xlsx
	data/WallMart/2.xlsx
	data/WallMart/3.xlsx
	data/WallMart/4.xlsx
data/WallMartSummerInternship
	data/WallMartSummerInternship/1.xlsx

In [122]:
dataset = {}
for directory in directories:
  subdirs = sorted(glob(directory+"/*"))
  company = str(directory.replace("data/","")).strip()
  if company not in dataset:
    dataset[company] = {}
  for subdir in subdirs:
    round = subdir.replace(directory+"/","").replace(".xlsx","").strip()
    dataset[company][round] = pd.read_excel(subdir).values.flatten()
    for i,val in enumerate(dataset[company][round]):
      process = str(val).replace(".",' ').upper()
      process = re.sub(' [A-Z]* ', ' ',process.strip())
      final = ""
      for st in process.split():
        if(len(st)>1):
          final += st+" "
      while(len(final)>20):
        final = " ".join(final.split()[:-1])
      final = final.strip()
      final=(20-len(final))//2*'0'+final+(20-len(final))//2*'0'+len(final)%2*'0'
      dataset[company][round][i]=final

In [116]:
dataset.keys()

dict_keys(['ABSYZ', 'Affisis', 'Codoid Innovations', 'MorganStanley', 'RSA', 'Silicon labs', 'Silicon labs internship', 'WallMart', 'WallMartSummerInternship'])

In [117]:
dataset['ABSYZ'].keys()

dict_keys(['1', '2', '3', '4'])

In [118]:
dataset['ABSYZ']['3'].shape

(70,)

In [123]:
dataset['ABSYZ']['4']

array(['000000SRIDEVI0000000', '000000AHARSHA0000000',
       '0000000DEEPAK0000000', '000BUVANESHVARAN0000',
       '0000000GOKUL00000000', '0000SURYA REDDY00000',
       '00SRI SAI RAVIPATI00', '00000SAMA REDDY00000',
       '00000NIRMALRAJ000000', 'KOUKUNTLA SIDDARTHA0',
       '000KATTA NARAYANA000', 'NAGIREDDYGARI REDDY0',
       '0000000JAGAN00000000', '0000000HARISH0000000',
       '0000000SANJAY0000000', '0000JEEVANANDHAM0000',
       '0000SHUHEB SYED00000', '000000MUHAMMAD000000',
       '00000SAIKALYAN000000', '000JAGADEESHWARAN000',
       '00LINGI SAI REDDY000', '0MANDADAPU JAHNAVI00',
       '0000000PAVAN00000000', '00SOWMYA GANAPATHI00',
       '000KARRA JASWANTH000', '00GANGASANI KUMAR000',
       '00BATCHU PULLARAO000', '000KONDAMANUGULA0000',
       '000BODDU KRISHNA0000', '000SAMUDRALA BALA000',
       '0000NEHA NAGULA00000', '0000000REDDY00000000',
       '0000000MOHAN00000000', '000NAGISETTY BABU000',
       '0GORIPARTHI PRASAD00', '00PULLURI NAVITEJA00',
       '0000000KUMAR00000000', 'YANDAPALLI SATHWIKA0',
       'GADDE RUTHVIJA DEVI0', '0000KOTHA KUMAR00000',
       '0000SHAIK MUNNI00000', '0000GANGA AKHILA0000',
       '0THOLUSURI PRAKASH00', '00GANGASANI KUMAR000',
       '00MOVVA CHAITANYA000', '0000VIKASH KUMAR0000',
       '0000NITHYA JOHN00000', '0ANJALI CHAKRABARTY0',
       '0000MANISHA DAS00000', '0000SAERI DATTA00000',
       '00000YUVASHREE000000', '000000VINDHYA0000000',
       '000000KISHORE0000000', '000000CAROLINE000000',
       '0000DHIYANESHWAR0000', '000KISHORE KUMAR0000',
       '00000THILAKRAJ000000', '000000ARAVINDA000000',
       '000PRASHANT YADAV000', '000MAHEK RATHORE0000',
       '000SHIVALI SINGH0000', '0ABHISHEK TRIPATHI00',
       '0NAVEENRAJ KRISHNAN0', '000000SHOBIKA0000000',
       '00SRAVYA BHANDARU000', '00MOHAMED IBRAHIM000',
       '000DEBABRATA TAH0000', '0000PALLAVI ZATE0000',
       '0000000TARUN00000000', '000VIGNESH SEKAR0000'], dtype=object)

In [124]:
with open("data.pkl",'wb') as f:
  pickle.dump(dataset,f)

In [125]:
with open("data.pkl",'rb') as f:
  data = pickle.load(f)

In [126]:
data.keys()

dict_keys(['ABSYZ', 'Affisis', 'Codoid Innovations', 'MorganStanley', 'RSA', 'Silicon labs', 'Silicon labs internship', 'WallMart', 'WallMartSummerInternship'])

In [127]:
data['ABSYZ']['4']

array(['000000SRIDEVI0000000', '000000AHARSHA0000000',
       '0000000DEEPAK0000000', '000BUVANESHVARAN0000',
       '0000000GOKUL00000000', '0000SURYA REDDY00000',
       '00SRI SAI RAVIPATI00', '00000SAMA REDDY00000',
       '00000NIRMALRAJ000000', 'KOUKUNTLA SIDDARTHA0',
       '000KATTA NARAYANA000', 'NAGIREDDYGARI REDDY0',
       '0000000JAGAN00000000', '0000000HARISH0000000',
       '0000000SANJAY0000000', '0000JEEVANANDHAM0000',
       '0000SHUHEB SYED00000', '000000MUHAMMAD000000',
       '00000SAIKALYAN000000', '000JAGADEESHWARAN000',
       '00LINGI SAI REDDY000', '0MANDADAPU JAHNAVI00',
       '0000000PAVAN00000000', '00SOWMYA GANAPATHI00',
       '000KARRA JASWANTH000', '00GANGASANI KUMAR000',
       '00BATCHU PULLARAO000', '000KONDAMANUGULA0000',
       '000BODDU KRISHNA0000', '000SAMUDRALA BALA000',
       '0000NEHA NAGULA00000', '0000000REDDY00000000',
       '0000000MOHAN00000000', '000NAGISETTY BABU000',
       '0GORIPARTHI PRASAD00', '00PULLURI NAVITEJA00',
       '0000000KUMAR00000000', 'YANDAPALLI SATHWIKA0',
       'GADDE RUTHVIJA DEVI0', '0000KOTHA KUMAR00000',
       '0000SHAIK MUNNI00000', '0000GANGA AKHILA0000',
       '0THOLUSURI PRAKASH00', '00GANGASANI KUMAR000',
       '00MOVVA CHAITANYA000', '0000VIKASH KUMAR0000',
       '0000NITHYA JOHN00000', '0ANJALI CHAKRABARTY0',
       '0000MANISHA DAS00000', '0000SAERI DATTA00000',
       '00000YUVASHREE000000', '000000VINDHYA0000000',
       '000000KISHORE0000000', '000000CAROLINE000000',
       '0000DHIYANESHWAR0000', '000KISHORE KUMAR0000',
       '00000THILAKRAJ000000', '000000ARAVINDA000000',
       '000PRASHANT YADAV000', '000MAHEK RATHORE0000',
       '000SHIVALI SINGH0000', '0ABHISHEK TRIPATHI00',
       '0NAVEENRAJ KRISHNAN0', '000000SHOBIKA0000000',
       '00SRAVYA BHANDARU000', '00MOHAMED IBRAHIM000',
       '000DEBABRATA TAH0000', '0000PALLAVI ZATE0000',
       '0000000TARUN00000000', '000VIGNESH SEKAR0000'], dtype=object)